@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Light-webfont.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

body{
box-sizing: border-box;
margin: auto;
display: flex;
justify-content: center;
align-content: center;
background: #100c1b;
font-family: Roboto;
font-size: 14px;
}

.body_wrap{
  margin-top: 15%;
  background: #fff;
  padding: 30px;
  text-align: center;
  color: #100c1b;
  border-radius: 5px;
}

button{
  border:none;
  padding:16px;
  background: #100c1b;
  color:#ffffff;
  border-radius: 5px;
  box-shadow: 0 15px 18px -17px #000000;
}

button a{
  text-decoration: none;
  color:#fff;
}
